body {
    font-family: Arial;
    text-align: center;
    background: #f7f7f7;
}

.box {
    background: white;
    padding: 20px;
    margin: 20px auto;
    width: 350px;
    border-radius: 10px;
}